body {
  background-color: #e5e5e5 !important;
}

table{
  cursor: pointer;
}

.container-fluid {
  margin-top: 30px;
}
.MuiAppBar-root {
  padding: inherit !important;
}

.MuiAppBar-colorPrimary {
  box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.16), 0 5px 10px 0 rgba(0, 0, 0, 0.12) !important;
  background-color: #1976d2 !important;
}

button:focus {
  outline: none !important;
}

.MuiPaper-root {
  padding: 15px 15px;
}

.MuiCardMedia-root.image {
  width: 50px;
  height: 50px;
}

.player-view .MuiAvatar-root.MuiAvatar-circle {
  width: 60px;
  height: 60px;
}

.MuiCardContent-root span {
  margin-left: 20px;
}

.MuiTabs-fixed {
  padding-top: 10px;
}

.MuiTab-textColorInherit.Mui-selected {
  font-weight: bolder;
}

.bar-chart {
  width: 100%;
  background: #e5e5e5;
  box-shadow: 1px 2px 2px #bbb;
}

.bar {
  background: #1976d2;
  text-align: center;
  color: #fff;
  box-shadow: 0px 2px 1px #282858;
  width: 0px;
}

thead > tr{
  box-shadow: 1px 2px 5px #ccc;
  background: aliceblue;
}

th .MuiButtonBase-root{
  padding: 0;
}

.dash-container{
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.MuiTypography-body1 > .MuiBox-root{
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.player-view{
  padding-left: 0 !important;
}

.player-card > .MuiPaper-root{
  height: 624px;
}