.percentile-svg {
  height: 100px;
  width: 100%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.percentile-rect-default {
  height: 100px;
  width: 100%;
  fill: gray;
  opacity: 0.5;
}
.percentile-rect-default:hover {
  opacity: 1;
}

.percentile-rect {
  position: relative;
  width: 100%;
  fill: #0000ff;
  opacity: 1;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.percentile-rect:hover {
  stroke: blue;
  stroke-width: 1;
  fill: #00ffff;
}

.percentile-tooltip {
  position: fixed;
  transform: translate(-50%, -150%);
  background-color: lavenderblush;
  stroke: black;
  color: black;
  padding: 5px 10px;
  border-radius: 2px;
  z-index: 200;
}
