/*Style for radar plot*/
svg {
  height: 100%;
  width: 100%;
}
.shape {
  stroke-width: 4;
  fill-opacity: 0.3;
  transition: d 1s;
}

/*
.shape:hover {
  fill-opacity: 0.65;
  z-index: 100;
}
*/
.scale {
  stroke: #000000;
  stroke-width: 0.5;
}

.axis {
  stroke: #000000;
  stroke-width: 0.5;
}

.caption {
  font-family: Verdana;
  fill: #000000;
  font-weight: bold;
  font-size: 15px;
}
.caption:hover {
  cursor: pointer;
}

.dot {
  fill: #0000ff;
  stroke: #000000;
  r: 5;
  -webkit-transition: r 0.2s;
  -o-transition: r 0.2s;
  transition: r 0.2s;
}
.dot:hover {
  fill: #00ffff;
  r: 8;
}

.radar-tooltip {
  position: fixed;
  transform: translate(-50%, -150%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
  z-index: 200;
}
